:root{
  --p:#6c63ff;
  --bg:#f6f8ff;
  --card:#ffffff;
  --text:#1f2937;
  --muted:#6b7280;
   --text-light: #6b7280;
}
body.dark{
  --bg:#0f172a;
  --card:#1e293b;
  --text:#f8fafc;
  --muted:#94a3b8;
}
img {
        height: 45px;
        width: 70px;
        border-radius: 20px;
    }
    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      font-size: 20px;
    }

    .logo span {
      background: var(--primary);
      color: white;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
body{margin:0;font-family:Inter;background:var(--bg);color:var(--text)}
.auth{min-height:100vh;display:flex;justify-content:center;align-items:center}
.card{background:var(--card);padding:30px;border-radius:16px;box-shadow:0 20px 40px rgba(0,0,0,.1)}
input,button{width:100%;padding:12px;margin-top:10px}
.primary{background:var(--p);color:#fff;border:none;border-radius:999px}
nav{display:flex;justify-content:space-between;padding:20px}
.dash{max-width:1000px;margin:auto;padding:20px}
.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:20px}
.progress{height:8px;background:#e5e7eb;border-radius:999px;overflow:hidden}
.bar{height:100%;background:var(--p);transition:.4s}
.complete{animation:pop .6s}
.toggle{background:none;border:1px solid var(--muted);border-radius:999px;padding:6px 12px; width: 50px;}
@keyframes pop{0%{transform:scale(1)}50%{transform:scale(1.05)}100%{transform:scale(1)}}
    footer {
      text-align: center;
      padding: 40px;
      color: var(--text-light);
      font-size: 14px;
    }